<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <td th:text="Username"></td>
        <td th:text="Password"></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td><a class="btn badge-danger" th:href="@{'/users/delete/' + ${user.id}}">Удалить</a></td>
        <td><a class="btn badge-info" th:href="@{'/users/update/' + ${user.id}}">Редактировать</a></td>
    </tr>
    </tbody>
</table>
<a class="btn btn-success" th:href="@{/users/registration}">Добавить</a>
</body>
</html>